In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("2. Case 1 - Chi-square test of independence.xlsx")

In [6]:
df.head()

   Respondent        Uniqueness Purchase Likelihood
0           1  Extremely unique    Extremely likely
1           2  Extremely unique    Extremely likely
2           3  Extremely unique    Extremely likely
3           4  Extremely unique    Extremely likely
4           5  Extremely unique    Extremely likely

In [7]:
pd.crosstab(df["Uniqueness"],df["Purchase Likelihood"], margins=True, margins_name='Total')

Purchase Likelihood,Extremely likely,Not at all likely,Not so likely,Somewhat likely,Very likely,Total
Uniqueness,,,,,,
Extremely unique,12,10,10,13,25,70
Not at all unique,5,11,5,4,8,33
Not so unique,7,9,10,8,16,50
Somewhat unique,15,16,15,16,28,90
Very unique,52,30,30,64,104,280
Total,91,76,70,105,181,523

In [8]:
pd.crosstab(df["Uniqueness"],df["Purchase Likelihood"], margins=True, margins_name='Total',normalize=True).round(3)

Purchase Likelihood,Extremely likely,Not at all likely,Not so likely,Somewhat likely,Very likely,Total
Uniqueness,,,,,,
Extremely unique,0.023,0.019,0.019,0.025,0.048,0.134
Not at all unique,0.010,0.021,0.010,0.008,0.015,0.063
Not so unique,0.013,0.017,0.019,0.015,0.031,0.096
Somewhat unique,0.029,0.031,0.029,0.031,0.054,0.172
Very unique,0.099,0.057,0.057,0.122,0.199,0.535
Total,0.174,0.145,0.134,0.201,0.346,1.000