In [1]:
import pandas as pd
pd.options.display.float_format = "{:.2f}".format

In [2]:
df = pd.read_excel("3. Case 2 - One-sample t-test.xlsx")

In [3]:
df.head()

,Product ID,Product Name,Price,Volume,Volume_in_liters,Price_per_EQ
0,5113468,Apple Pulse,4.15,500,0.50,8.30
1,1906188,Banana Pulse,4.75,500,0.50,9.50
2,5709623,Banana Rumble,4.30,500,0.50,8.60
3,2642672,Berry Ride,4.55,500,0.50,9.10
4,1997170,Blackberry Sizzle,4.20,500,0.50,8.40

The mean represents the average value in a dataset, determined by adding all the values and dividing by the number of those values. Extreme values or outliers within the dataset can influence the mean, potentially distorting the result.

The mean is calculated by using the **.mean()** method.

In [4]:
# Calculate the mean value of the 'Price_per_EQ' variable in the 'df' dataframe
mean_price = df["Price_per_EQ"].mean()

print("{:.2f}".format(mean_price))

6.43

Any missing values are ignored during these calculations. One should also be careful when the data set has many zero values—which might represent missing values in some cases—as they can significantly affect the mean.

The median is a central tendency metric that splits a dataset into two equal parts. It's the value in the middle when the data points are arranged in ascending or descending order. In a dataset, 50% of the values are below the median, and 50% are above it. 
 <br>Unlike the mean, the median is unaffected by extreme values or outliers, making it a more stable measure of central tendency.

The median is calculated by using the **.median()** method.

In [5]:
# Calculate the median value of the 'Price_per_EQ' variable in the 'df' dataframe
median_price = df["Price_per_EQ"].median()

print("{:.2f}".format(median_price))

6.24

These values and the descriptive statistics can also be derived directly using the pandas **.describe()** method.

In [6]:
df["Price_per_EQ"].describe()

count   100.00
mean      6.43
std       1.37
min       3.02
25%       5.42
50%       6.24
75%       7.43
max       9.50
Name: Price_per_EQ, dtype: float64

The median corresponds to the value indicated next to '50%' in the above output.